h1 {
    text-align: center;
}
#One-EyedMask{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
h2 {
    text-align: center;
}

#Heart-of-Inmost-Light{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Citans-Ramparts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Peregrine-Greaves{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
