h1{
    text-align: center;
}
h2{
    text-align: center;
}
#Stag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Boots-of-the-Assembler{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Mantle-of-Battle-Harmony{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Karnstein-Armlets{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}