h1{
    text-align: center;
}
#Engrams{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
}
#Rare-Engram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
h2{
    text-align: center;
}
#Legendary-Engram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
#Exotic-Engram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 20%;
}