#Solar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
h1{
    text-align: center;
}
#Golden-Gun{
    display: block;
    margin-left: auto;
    margin-right: auto;
}