h1{
    text-align: center;
}
#Void{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
#Shadowshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Spectral-Blades{
    display: block;
    margin-left: auto;
    margin-right: auto;
}