h1 {
    text-align: center;

}
h3 {
    text-align: center;
    font-size: 10px;
}
#Titan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 30%;
    
    
}
#Titan-Bash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}
#Titan-Throw{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Ballistic-Slam{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
div{
    padding: 20px;
    margin: 20px 20px 20px 20px;
}
