#Arc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
h1{
    text-align: center;
}
#Thundercrash{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Fists-of-Havoc{
    display: block;
    margin-left: auto;
    margin-right: auto;
}