h1{
    text-align: center;
}
#Solar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Hammer-of-Sol{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Flaming-Maul{
    display: block;
    margin-left: auto;
    margin-right: auto;
}