h1 {
    text-align: center;
}
#Void{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#Sentinal-Shield{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Ward-of-Dawn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}